<!–– Made with Lockdown: https://github.com/fferegrino/lockdown ––>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-translate-customization" content="108d9124921d80c3-80e20d618ff053c8-g4f02ec6f3dba68b7-c"></meta>

  <link rel="shortcut icon" href="{{ site.favicon }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typeface-noto-sans@0.0.72/index.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <script src="{{ "/js/main.js" | relative_url }}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/vs.min.css" integrity="sha512-aWjgJTbdG4imzxTxistV5TVNffcYGtIQQm2NBNahV6LmX14Xq9WwZTL1wPjaSglUuVzYgwrq+0EuI4+vKvQHHw==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js" integrity="sha512-9GIHU4rPKUMvNOHFOer5Zm2zHnZOjayOO3lZpokhhCtgt8FNlNiW/bb7kl0R5ZXfCDVPcQ8S4oBdNs92p5Nm2w==" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script data-ad-client="ca-pub-9566151416325480" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

{% include favicon %}

{% if post %}
<title>{{ post.title }} | {{ site.title }}</title>

<!-- Search Engine -->
<meta name="description" content="{{ post.summary }}">
<meta name="image" content="{{ post.image }}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ post.title }}">
<meta itemprop="description" content="{{ post.summary }}">
<meta itemprop="image" content="{{ post.image }}">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{ post.summary }}">
<meta name="twitter:site" content="@io_exception">
<meta name="twitter:creator" content="@io_exception">
<meta name="twitter:image" content="{{ post.image }}">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ post.title }}">
<meta name="og:description" content="{{ post.summary }}">
<meta name="og:image" content="{{ post.image }}">
<meta name="og:url" content="{{ site.site_url }}{{ post.url }}">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:locale" content="es">
<meta name="og:type" content="website">
{% else %}
<title>{{ site.title }} - Un blog sobre programación.</title>
<!-- Search Engine -->
<meta name="description" content="{{ site.description }}">
<meta name="image" content="THIS IS MY IMAGE">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{ site.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="THIS IS MY IMAGE">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:site" content="@io_exception">
<meta name="twitter:creator" content="@io_exception">
<meta name="twitter:image" content="THIS IS MY URL!">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{ site.title }}">
<meta name="og:description" content="{{ site.description }}">
<meta name="og:image" content="THIS IS MY IMAGE">
<meta name="og:url" content="{{ site.site_url }}">
<meta name="og:site_name" content="{{ site.title }}">
<meta name="og:locale" content="es">
<meta name="og:type" content="website">
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GPXCSH21CP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GPXCSH21CP');
</script>
