{% extends 'base' %}

{% block content %}
<div class="articles">
    <div class="pagination">

        <ul class="post-list">
    {% for post in articles %}
<li>
      <h2 class="post-title">
<a class="post-link" href="{{ post.canonical_url }}">
          {{ post.title }}
        </a>
      </h2>
      <div class="post-meta">
        <span class="post-date"><i class="fa fa-calendar"></i> {{ post.date_time | date:"MMMM dd, yyyy" }}</span>
        <span class="post-reading-time left-vsplit"><i class="fa fa-clock-o"></i> {{ post.author  }}</span>
      </div>
      <p class="post-excerpt">{{ post.summary }}</p>


      <div class="post-tags">

      {% for tag in post.tags %}
      <a class="post-tag"  href="{{ tag.url }}">#{{ tag.text }}</a>
 {% endfor %}
</div>
    </li>

    {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}